<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binding</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <style>
        .demo{
            width: 100px;
            height: 100px;
            background-color: yellow;
        }
        .demo.active{
            background-color: blue;
        }
        .demo.error{
            background-color: red;
        }
    </style>
</head>
<body>
    <!--v-model-->
    <div id="app">
        <!--<div v-bind:style="{backgroundImage: background}">-->
        <div :style="objStype">
            <h1>Name: {{name}}</h1>
            <input v-on:keyup='handleKeyup' type="text" placeholder="Nhap Name">
            <input v-model='name' type="text" placeholder="v-model">
            <button v-on:click="changeActive">Change Active</button>
            <button v-on:click="changeError">Change Eror</button>
            <div class="demo" v-bind:class="objClass"></div>
            <div v-bind:style="{color: activeColor, fontSize: fontSize + 'px'}"></div>
        </div>
    </div>
</body>
<script>
    Vue.config.devtools = true
    var app = new Vue({
        el: '#app',
        data:{
            name: '',
            textClass: 'active',
            isActive: false,
            isError: false,
            activeColor: 'red',
            fontSize: 20,
            bg: 'https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg'
        },
        methods: {
            handleKeyup(e){
                this.name = e.target.value;
                console.log(e.target.value)
            },
            changeActive(){
                this.isActive = !this.isActive;
            },
            changeError(){
                this.isError = !this.isError;
            }
        },
        computed:{
            objClass(){
                return {
                    active: this.isActive,
                    error: this.isError
                }
            },
            background(){
                return 'url('+this.bg+')';
            },
            objStype(){
                var xx = {
                    backgroundImage: 'url('+this.bg+')',
                    margin: '10px'
                }
                return xx;
            }
        }
    })
</script>
</html>