<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computed</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
    <div id="app">
        {{ message }}
        <p>{{reversedMessage}}</p>
        <button v-on:click='a++'>A++</button>
        <button v-on:click='b++'>B++</button>
        <p>A + Num = {{ addA }}</p>
        <p>B + Num = {{ addB }}</p>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello',
            a: 0,
            b: 0,
            num: 20
        },
        methods:{
            // addA(){
            //     console.log('addA')
            //     return this.a + this.num
            // },
            // addB(){
            //     console.log('addB')
            //     return this.b + this.num
            // }
        },
        //khi các biến trong hàm thay đổi, nó tự chạy không cần gọi
        computed:{
            reversedMessage: function () {
            return this.message.split('').reverse().join('')
            },
            addA(){
                return this.a + this.num
            },
            addB(){
                return this.b + this.num
            }
        }
    })
</script>
</html>
<!--tinh toan dua tren du lieu co san Vue-->