<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <style>
        .tabs{
            margin:0;
            padding: 0;
        }
        .tabs li{
            cursor: pointer;
            display: inline-block;
            padding: 10px 15px;
            border: 1px solid #000;
        }
        .login, .register {
            padding: 15px;
            margin-top: 20px;
            border: 2px solid blue;
        }
    </style>
</head>
<body>
    <div id="app">
        <ul class="tabs">
            <li v-on:click="changeTab('login')">Login</li>
            <li v-on:click="changeTab('register')">Register</li>
        </ul>
        <div class="login" v-if="tabSelected === 'login'">
            <h2>Login Form</h2>
            <form action="">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
            </form>
        </div>
        <div class="register" v-else-if="tabSelected === 'register'">
            <h2>Register Form</h2>
            <form action="">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                <input type="password" placeholder="verify password">
            </form>
        </div>
    </div>
</body>
<script>
    Vue.config.devtools = true
    var app = new Vue({
        el:'#app',
        data:{
            tabSelected:'register'
        },
        methods:{
            changeTab(name){
                this.tabSelected = name;
            }
        }
    })
</script>
</html>