<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <style>
        .box{
            width: 200px;
            height: 200px;
            background-color: yellow;
            position: relative;
        }
        .box-2{
            width: 100px;
            height: 100px;
            background-color: red;
            top: 0;
            right:0;
            position: absolute;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>Count: {{counter}}</h1>
        <button v-on:click="handleClick($event, 1)">Click Me</button>
        <div class="box" v-on:mousemove="handleMousemove">
            <p>{{clientX}}/{{clientY}}</p>
            <div class="box-2" v-on:Mousemove.stop="handleMousemoveChile"></div>
        </div>
        <form action="" v-on:submit.prevent="handleSubmitForm">
            <label for="">Name</label>
            <input type="text" name="name">
            <label for="">Email</label>
            <input type="text" name="email">
            <input v-on:keyup.13="submit" >
        </form>
    </div>
</body>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                counter: 0,
                clientX: 0,
                clientY: 0
            },
            methods:{
                handleClick(e, number){
                    this.counter+=number
                    console.log(e.target)
                },
                handleMousemove(e){
                    this.clientX = e.clientX; this.clientY = e.clientY
                },
                handleMousemoveChile(e){
                    console.log(e.target)    
                },
                handleSubmitForm(e){
                    console.log(e)
                },
                submit(){
                    console.log('submit')
                }
            }
        })
    </script>
</html>