<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
    <div class="list-blog">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo similique sunt dicta minus optio veritatis quos ea enim pariatur earum corrupti fugiat ex praesentium velit quibusdam tempora mollitia, sequi ullam.</p>
    </div>
    <div id="app">
        <div class="cart">Giỏ hàng</div>
        <div class="product">
            <div class="product-image"></div>
            <div class="product-content">
                <h3 class="title">
                    <a v-bind:href="url" v-bind:target="target">{{title}}</a>
                </h3>
                <p class="brand"></p>
                <div class="price">
                    <div class="final-price">{{formatPrice()}}</div>
                </div>
                <div class="color"></div>
                <div class="loz"></div>
            </div>
        </div>
    </div>
</body>
<script src="main.js"></script> 
</html>